<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link" href="./dashboard.html">
              <i class="mdi mdi-chart-bar menu-icon"></i>
              <span class="menu-title">Dashboard</span>
          </a>
      </li>
      <li class="nav-item nav-category">Actions</li>
      <li class="nav-item">
          <a class="nav-link" href="./pages/planAppointment.html">
              <i class="mdi mdi-calendar-text menu-icon"></i>
              <span class="menu-title">Plan Appointment</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="./pages/addClient.html">
              <i class="mdi mdi-account-multiple-plus menu-icon"></i>
              <span class="menu-title">Add Client</span>
          </a>
        </li>            
        <li class="nav-item">
          <a class="nav-link" href="./pages/addStaff.html">
            <i class="mdi mdi-account-multiple-plus menu-icon"></i>
            <span class="menu-title">Add Staff</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./pages/addExercise.html">
            <i class="mdi mdi-human-handsup menu-icon"></i>
            <span class="menu-title">Add Exercise</span>
          </a>
        </li>                    
      <li class="nav-item nav-category">Lists</li>
      <li class="nav-item">
          <a class="nav-link" href="./pages/locations.html" aria-expanded="false" aria-controls="ui-basic">
            <i class="menu-icon mdi mdi-map-marker-radius"></i>
            <span class="menu-title">Locations</span>
            <i class="menu-arrow"></i>
          </a>
        </li>  
      <li class="nav-item">
          <a class="nav-link" href="./pages/clients.html" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-account-multiple"></i>
              <span class="menu-title">Clients</span>
              <i class="menu-arrow"></i>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="./pages/staff.html" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-account-circle"></i>
              <span class="menu-title">Staff</span>
              <i class="menu-arrow"></i>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="./pages/exercises.html" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-human-handsup"></i>
              <span class="menu-title">Exercises</span>
              <i class="menu-arrow"></i>
          </a>
      </li>          
  </ul>
</nav>
