/* Tables */

.table {
  margin-bottom: 0;
  thead {
    th {
      border-top: 0;
      border-bottom-width: 1px;
      font-weight: 600;
      font-size: .875rem;
      i {
        margin-left: 0.325rem;
      }
    }
  }
  th,
  td {
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
    padding:$table-cell-padding;
    .mdi.mdi-note-text {
      font-size: 24px;
    }
  }
  td {
    font-size: $default-font-size;
    text-transform: capitalize;
    img {
      width: 36px;
      height: 36px;
      border-radius: 100%;
    }
  }
  tr {
    &.headers td {
    color: #A3A3A3;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    padding-right: 5px;
    padding-left: 0;
    }
    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }
  &.table-borderless {
    border: none;
    tr,
    td,
    th {
      border: none;
    }
  }
  &.table-bordered {
    border-top: 1px solid $border-color;
  }

  &.select-table {
    tr {
      td {
        &:first-child {
          padding-right: 10px;
        }
      }
    }
    th {
      color: $select-table-head;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 15px;
      text-transform: uppercase;
      padding-right: 5px;
      padding-left: 0;
      .form-check {
        margin-bottom: 0;
        width: 20px;
      }
    }
    td {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: $select-table-cell-color;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 0;
      .form-check {
        width: 20px;
      }
      h6 {
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        color: $black;
        margin-bottom: 5px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: $text-muted;
        margin-bottom: 0;
      }
      img {
        width: 44px;
        height: 44px;
        border-radius: 10px;
        margin-right: 15px;
      }
      .max-width-progress-wrap {
        width: 120px;
      }
      .form-check {
        margin-bottom: 0;
      }
    }
  }
}
.badge {
  margin-bottom: 0;
  width: 100%;
  font-weight: bold;
  &.badge-danger {
    color: #fff;
    background: #F95F53;
  }
  &.badge-success {
    color: #fff;
    background: #34B1AA;
  }
  &.badge-warning {
    color: #fff;
    background: #ffaf00;
  }
}
.table > :not(:last-child) > :last-child > *, .jsgrid .jsgrid-table > :not(:last-child) > :last-child > * {
  border-bottom-color: $border-color;
}
.fancySearchRow input {
  padding: 10px 5px;
  border: none;
  background: #eee;
}
.mdi-note-text {
  cursor: pointer;
}
.exerciseTable td, .clientTable td {
  white-space: normal !important;
  line-height: 1.2em !important;
}
@media screen and (max-width:700px){
  .clientTable td:nth-child(2), .clientTable td:nth-child(4),
  .exerciseTable td:nth-child(3), .exerciseTable td:nth-child(4),
  .staffTable td:nth-child(3), .staffTable td:nth-child(5){
    display:none;
  }
}