.page-body-wrapper {
  min-height: calc(100vh - #{$navbar-height});
  @include display-flex();
  @include flex-direction(row);
  padding-left: 0;
  padding-right: 0;
  padding-top: $navbar-height;

  &.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
    padding-top: 0;
  }
}

.main-panel {
  transition: width $action-transition-duration $action-transition-timing-function, margin $action-transition-duration $action-transition-timing-function;
  width: calc(100% - #{$sidebar-width-lg});
  min-height: calc(100vh - #{$navbar-height});
  @include display-flex();
  @include flex-direction(column);
  @media (max-width: 991px) {
    margin-left: 0;
    width: 100%;
  }
}

.content-wrapper {
  background: $content-bg;
  padding: 1.5rem 2.187rem 1.5rem 3.5rem;
  width: 100%;
  @include flex-grow(1);
  @media(max-width: 767px) {
    padding: 1.5rem;
  }
}

.locationPage h5, .locationPage .h5 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.clientDetailPage strong, .trainerDetailPage strong {
  display: block;
  font-size: 0.8em;
}

.clientDetailLink, .trainerDetailLink {
  cursor: pointer;
}
.alignRight {
  float:right;
}

.backBtn {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  background: #333;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .backBtn {
    display: none;
  }
}

.gender {
  text-transform: capitalize;
}

.detailHeaders {
  color: #555;
  font-size: 0.8em;
  padding-bottom: 5px;
  border-bottom: 2px solid #999;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.formCollapse span {
  font-weight: bold;
}

table.table.locationsTable td {
  width: 25%;
}

.signInFeedback {
  display: none;
  margin-top: 20px;
  font-size: 0.8em;
}

.signInFeedback.error {
  color: red;
}

.signInFeedback.success {
  color: green;
}

.appointmentTable {
  margin-bottom: 60px;
}

.panel-group .panel-heading {
  background: #444;
  display: block;
  z-index: 999999;
  border: 1px solid #ddd;
}
.panel-group .panel-heading a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px 10px 20px;
}
.panel-body {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: -15px;
  padding: 20px;
}
.panel-body h5 {
  margin-top: 20px;
}

button.nav-link i {
  color: #888;
  opacity:0.2;
}

.exerciseLog.noShow nav, .exerciseLog.noShow .tab-content {
  opacity: 0.5;
  pointer-events: none;
}

.exerciseLog h3 span {
  display: block;
  font-size: 0.8em;
  color: #777;
  font-weight: bold;
}
.roundContainer {
  border-radius: 10px;
}
.roundContainer {
  background: rgba(0,0,0,0.025);
}

a {
  text-decoration: none;
  color: inherit;
}

.exerciseName {
  cursor: pointer;
}

.ui-accordion .ui-accordion-header {
  background: #242cea !important;
  color: #fff !important;
  padding: 20px !important;
  border-radius: 7px;
}

.ui-accordion .ui-accordion-header .ui-icon-triangle-1-e, .ui-accordion .ui-accordion-header.ui-state-active .ui-icon {
  display: none;
}

.hide {
  display: none !important;
}

.ui-accordion .ui-accordion-content {
  display: block !important;
}

.passwordReset {
  position: absolute;
  top: 20px;
  right: 20px;
}

.ui-widget.ui-widget-content {
  background: #fff !important;
}

.sets {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 15px;
  background: #eee;
}

.sets h4 {
  font-size: 1em;
}

.roundContainer h3 {
  font-weight: normal !important;
  font-size: 1.5em;
}

.floatingNav {
  position: fixed;
  top: calc(50% - 50px);
  right: -10px;
  background: #fff;
  width: 150px;
  min-height: 3em;
  z-index: 99;
  padding: 10px;
  box-shadow: -3px 0px 8px rgba(0,0,0,0.3);
  border-radius: 5px;
}
.floatingNav ul {
  margin: 0px;
}
.floatingNav li {
  list-style: none;
}

.viewAppointmentsPage .roundContainer,
.viewAppointmentsPage .sets {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}

.viewAppointmentsPage .roundContainer {
  padding-top: 20px;
  border-top: 2px solid #ddd;
  border-radius: 0px;
}

.viewAppointmentsPage .roundContainer:nth-child(odd) {
  background: #f7f7f7;
  padding: 16px 16px 0;
}

.viewAppointmentsPage .sets .row:nth-child(odd) {
  background: #eee;
  padding-top: 10px;
  margin-bottom: 10px;
}

.viewAppointmentsPage .form-group input[type=text],
.viewAppointmentsPage .form-group label {
  height: 1em;
  margin: 0;
  padding: 0;
}

.viewAppointmentsPage .form-group {
  margin: 0.5em 0;
}

.viewAppointmentsPage input[type=text].form-control.exercises {
  font-size: 1.25em;
  padding: 10px 0 10px 0;
}

.viewAppointmentsPage textarea {
  min-height: 1em !important;
  padding-left: 0;
}

.viewAppointmentsPage .input-helper:before {
  left: -25px !important;
}

.viewAppointmentsPage .main-panel {
  width: 100%;
}

.alert {
  font-family: Roboto, sans-serif;
  width: 50%;
  position: fixed;
  top: -200px;
  right: 100px;
  padding: 20px 10px 10px 20px;
  z-index: 9999;
  &.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  &.danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
    .menu-icon {
      margin-right: 5px;
    }
}
.form-group .submit {
  margin-top: 1rem;
  width: calc(100% - 30px) !important;
  margin-left: 15px;
}
.btn-primary {
  font-weight: bolder;
  text-transform: uppercase;
}